/*beee62   e09f3e   70ae6e   102e4a*/
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }  */
  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');  
  
*{
  margin: 0;
  padding: 0;
}
body{
   box-sizing: border-box;
    /*min-height: 100vh; 
    background-color: #102E4A;
    color: beige;*/
    background-color: #000000;
    color: #F6F6F6;
   /* font-size: 16px;
    line-height: 1.5;*/
}
/*
.container__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 3px solid #9eadc8;
    width: min(90%, 120rem);
    margin: 0 auto;   
}*/

.header__container{
    margin: 40px auto;
   
   
}


  .apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}


.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    font-weight:400;
}

.apresentacao__conteudo__texto{   
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;  
}



.soueu__conteudo__textoLLamativo{
    color: #9eadc8;
}
.soueu__conteudo__textoEncuadrado{
    color: #9eadc8;
    padding: 5px;
    border: 1px solid #9eadc8;  
}

.apresentacao__links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.apresentacao__links_subtitulo{
  font-family:'Krona One', sans-serif;
  font-weight: 400;
  font-size: 24px;
   
}
.apresentacao_links_link{
  font-family: 'Montserrat', sans-serif;
  color:#F6F6F6;
  border: 2px solid #22D4FD; 
  border-radius: 8px;
  width:378px;
  text-align: center;
  padding: 21.5px 0; 
  transition:0.15s;
  font-size:24px;
  font-weight: 600;
  text-decoration:none;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 16px;

}
.apresentacao_links_link:hover{
  transition:0.15s;
  padding: 4%; 
  font-size:26px;
  color:#22D4FD;
  background-color: #272727;
  cursor:pointer;
}



  .soueu__conteudo__link{    
    background-color: #9eadc8;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color:#313715;   
    border-radius: 16px;   
    cursor: pointer;  
    padding: 15px 0;  
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 1s;
}
.soueu__conteudo__link:hover{    
    transition: 1s;
    background-color: #e09f3e;
 }

 .cabecalho__nav{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
    
  }

  .cabecalho__nav__links{
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px; 
    color:#F6F6F6;
    border: 2px solid #22D4FD; 
    border-radius: 8px;
    margin: 0 10px;
    padding: 10px 15px;
    text-align: center;  
    transition:0.15s;
    font-size:24px;
    font-weight: 600;
    text-decoration:none;
    transition:0.5s;
  }
  .cabecalho__nav__links:hover{  
    cursor:pointer;
    color:#22D4FD;
    border: 2px solid #000; 
    transition:0.5s;
  }

  .rodape{
    background: #22D4FD;
    color:#000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 24px;
    width: 100%;
    margin-top: 25px;
   
  }

  