/*beee62   e09f3e   70ae6e   102e4a*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');  
:root{
  --cor-primaria:#1B1A17   /* #000000   /*#102e4a*/;
  --cor-secundaria: #E6D5B8 /*#f6f6f6  /*#e09f3e*/;
  --cor-terciaria: #F0A500 /* #22d4fd  /*#e09f3e*/;
  --cor-contraste:#38419D;
  --cor-hover: #2e2b24 /*#E45826*/;
  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
   
  }
 
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }  
 

body{
  box-sizing: border-box;
 
   /*height: 100vh;
    background-color: #102E4A;
    color: beige;*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
   /* font-size: 16px;
    line-height: 1.5;*/
}
/*
.container__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 3px solid #9eadc8;
    width: min(90%, 120rem);
    margin: 0 auto;  
}*/

main{
  padding: 8% 12%;
  display:flex;
  flex-direction: column;
}

.cabecalho{
 padding: 2% 0% 0% 12%;
}

.cabecalho__menu{
  display:flex;
  gap: 110px;
}

.cabecalho__menu__link{
  font-family: var(--fonte-secundaria);
  color:var(--cor-secundaria);
  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;
  padding: 10px 15px;
  text-align: center;  
  transition:0.15s;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration:none;
  transition:0.5s;
}
.cabecalho__menu__link:hover{  
  cursor:pointer;
  color:var(--cor-terciaria);
  border: 2px solid var(--cor-primaria);
  transition:0.5s;
}



  .apresentacao{    
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 82px;

  }

  .apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width:50%/* 615px*/;
}

/*1rem = 16px*/
.apresentacao__conteudo__titulo{
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    font-weight:400;
}

.apresentacao__conteudo__texto{  
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;  
}



.soueu__conteudo__textoLLamativo{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__textoEncuadrado{
    color: var(--cor-terciaria);
    padding: 3px;
    border: 1px solid var(--cor-terciaria);  
}

.apresentacao__links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.apresentacao__links_subtitulo{
  font-family:var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
   
}
.apresentacao__links__icone{
  height:35px;
  width:35px;
}
.apresentacao_links_link{
  font-family: var(--fonte-secundaria);
  color:var(--cor-secundaria);
  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;
  min-width: 200px;
  width: 70%/*378px*/;
  max-width: 400px;
 
  text-align: center;
  padding: 21.5px 0;
  transition:0.15s;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration:none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

}
.apresentacao_links_link:hover{
  transition:0.15s;  
  color:var(--cor-terciaria);
  background-color: var(--cor-hover);
  cursor:pointer;
}


/*
  .soueu__conteudo__link{    
    background-color: #9eadc8;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color:#313715;  
    border-radius: 16px;  
    cursor: pointer;  
    padding: 15px 0;  
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 1s;
}
.soueu__conteudo__link:hover{    
    transition: 1s;
    background-color: #e09f3e;
 }*/
.apresentacao__imagem{
  width: 50%;
  max-width: 25.0rem;
}

/*section projetos*/

.sessao__titulo{  
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    font-weight:400;  
    margin-top: 2rem;
    margin-bottom: 5%;
    margin-top: 7%;
}

.projeto__container{
  border: solid 1px var(--cor-terciaria);
  width:300px;
  padding: 15px;
  border-radius: 5px;
}

.frontend{
  display: flex;
  justify-content: space-between;
}
 
  .rodape{
    background: var(--cor-terciaria);
    color:var(--cor-primaria);
    font-family:var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 24px;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  /*clases unitarias*/
  .separador{
    margin-bottom: 7px;
  }
  .hidden{
    display: none;
  }

  @media (max-width: 1200px){

    .apresentacao{
      flex-direction: column-reverse;
    }

    .apresentacao__conteudo{
     
      width:100%/* 615px*/;
  }

  .apresentacao__imagem{
    width: 100%;
    max-width: 25.0rem;
    margin: 0 auto;
  }
 
   
  }

